<div id="casefile">
	<div>
		<h3>ArkCase Person Information app: {{$ctrl.version}}</h3>
	</div>

	<div id="infoForm" class="table">
		<p>
			<span class="table-row">
				The client's file ID is {{$ctrl.clientId}}.
			</span>
		</p>
	</div>
</div>
