/* app css stylesheet */

.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li + li:before {
	content: "|";
	padding-right: 0.3em;
}

div#casefile {
	position: relative;
	left: 2.5%;
	width: 600px;
}

.table {
	display: table;
	column-count: 2;
	border: 10px;
	border-style: groove;
	border-width: medium;
	border-color: black;
	padding: 0.3em 1em 0.5em 1em;
}

.table-row {
	display: table-row;
	column-count: 2;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
}

.table-cell {
	display: table-cell;
	border-spacing: 20px;
	margin-left: 5%;
	margin-right: 10%;
	width: 300px;
}
