<div id="casefile">
	<div>
		<h3>ArkCase Casefile Query app v{{$ctrl.version}}</h3>

	<div id="searchForm">
		<b><label for="caseId">Case ID:</label></b>&nbsp;
		<input id="caseId" type="text" autofocus ng-model="$ctrl.casefile.id"/>
		<button ng-click="$ctrl.getCasefile()">Search</button>
	</div>
	<br>
	<div id="resultsForm" class="table" ng-hide="!$ctrl.hasResults">
		<p>
			<span class="table-row">
				<b><label>Number:</label></b>&nbsp;&nbsp;{{$ctrl.casefile.caseNumber}}
			</span>
			<span class="table-row">
				<span class="table-cell">
					<b><label>Title:</label></b>&nbsp;&nbsp;{{$ctrl.casefile.title}}
				</span>
				<span class="table-cell">
					<b><label>Type:</label></b>&nbsp;&nbsp;{{$ctrl.casefile.caseType}}
				</span>
			</span>
			<span class="table-row">
				<span class="table-cell">
					<b><label>Client:</label></b>&nbsp;&nbsp;
					<a href="#!/personfile/{{$ctrl.casefile.client_id}}">
						{{$ctrl.casefile.client_name}}
					</a>
				</span>
				<span class="table-cell">
					<b><label>E-mail:</label></b>&nbsp;&nbsp;{{$ctrl.casefile.client_email}}
				</span>
			</span>
		</p>
		<p>
			<span class="table-row">
				<b><label for="details">Details:</label></b>
			</span>
			<span class="table-row">
				<textarea id="details" rows="5" cols="80" readonly ng-model="$ctrl.casefile.details"></textarea>
			</span>
		</p>
		<p>
			<span class="table-row">
				<span class="table-cell">
					<b><label>Created on:</label></b>&nbsp;&nbsp;{{$ctrl.casefile.created}}
				</span>
				<span class="table-cell">
					<b><label>Created by:</label></b>&nbsp;&nbsp;{{$ctrl.casefile.creator}}
				</span>
			</span>
		</p>
	</div>
</div>
